<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ComoPagar.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F6FC3E9A1D062DD100665608</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F6FC3EAE1D062DD100665608</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F6FC3EB91D062DD100665608</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
